In [11]:
import pandas as pd
import numpy as np

In [5]:
data=[10,20,30,40]
s=pd.Series(data) #it is a heterogenous collection of data
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [6]:
s=pd.Series([10,20,30,40],index=['a','b','c','d'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [8]:
data={'a':100,'b':200,'c':300}
s=pd.Series(data)
print(s)

a    100
b    200
c    300
dtype: int64

In [10]:
s=pd.Series(5,index=['a','b','c'])
print (s)

a    5
b    5
c    5
dtype: int64

In [13]:
s=pd.Series(np.array([10,11,12,13]))
print(s)

0    10
1    11
2    12
3    13
dtype: int64

In [23]:
st_data=[(1,'Neha',30,'Sonipat'),(2,'Aditya',20,'Rohtak'),(3,'Abhishek',40,'Gurgaon'),(4,'Davisha',10,'Delhi'),(5,'Pratyaksh',70,'Sonipat')]
df=pd.DataFrame(st_data,columns=['Roll_no','Name','Age','Address'])
print(df)
#df1=pd.read_csv('AIML.csv')
#df2=pd.read_excel('AIML.xlsx')
#df3=pd.read_excel('D:/AIML.xlsx')
print("Head = \n",df.head(2))
print("Tail =\n",df.tail(2))
print("Shape= \n",df.shape)
print("Columns= \n",df.columns)
print("Size =\n",df.size)
print("Values =\n",df.values)
print("Index =\n",df.index)
print("Age =\n",df.Age)
print(df[['Name','Address']])
print("LOC= \n",df.loc[0])
print("LOC= \n",df.loc[[0,1,2]])
print("Ages less than 30 =\n",df[df['Age']<30])
print("Sample=\n",df.sample(3))

   Roll_no       Name  Age  Address
0        1       Neha   30  Sonipat
1        2     Aditya   20   Rohtak
2        3   Abhishek   40  Gurgaon
3        4    Davisha   10    Delhi
4        5  Pratyaksh   70  Sonipat
Head =
    Roll_no    Name  Age  Address
0        1    Neha   30  Sonipat
1        2  Aditya   20   Rohtak
Tail =
    Roll_no       Name  Age  Address
3        4    Davisha   10    Delhi
4        5  Pratyaksh   70  Sonipat
Shape=
 (5, 4)
Columns=
 Index(['Roll_no', 'Name', 'Age', 'Address'], dtype='object')
Size =
 20
Values =
 [[1 'Neha' 30 'Sonipat']
 [2 'Aditya' 20 'Rohtak']
 [3 'Abhishek' 40 'Gurgaon']
 [4 'Davisha' 10 'Delhi']
 [5 'Pratyaksh' 70 'Sonipat']]
Index =
 RangeIndex(start=0, stop=5, step=1)
Age =
 0    30
1    20
2    40
3    10
4    70
Name: Age, dtype: int64
        Name  Address
0       Neha  Sonipat
1     Aditya   Rohtak
2   Abhishek  Gurgaon
3    Davisha    Delhi
4  Pratyaksh  Sonipat
LOC=
 Roll_no          1
Name          Neha
Age             30
Address    Sonipat
Name: 0, dtype: object
LOC=
    Roll_no      Name  Age  Address
0        1      Neha   30  Sonipat
1        2    Aditya   20   Rohtak
2        3  Abhishek   40  Gurgaon
Ages less than 30 =
    Roll_no     Name  Age Address
1        2   Aditya   20  Rohtak
3        4  Davisha   10   Delhi
Sample=
    Roll_no       Name  Age  Address
4        5  Pratyaksh   70  Sonipat
0        1       Neha   30  Sonipat
3        4    Davisha   10    Delhi

In [25]:
print("3 columns=\n",df.columns[0:3])

3 columns=
 Index(['Roll_no', 'Name', 'Age'], dtype='object')